.footer {
  background-image: radial-gradient(circle, #444, #000 40%);
  clear: both;
}

.lead {
  font-size: 14px;
  text-align: center;
  color: #fff;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #f00;
}